[Unit]
PartOf=graphical-session.target
After=graphical-session.target waypaper.service
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swww-daemon -n overview
Restart=on-failure
