[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
TimeoutStopSec=5sec
Restart=on-failure
