#!/usr/bin/env bash

pkg_dir="{{- .chezmoi.sourceDir -}}/assets/install"

_install_confirm() {
  local response
  echo -n -e "$1"
  read -r response

  if [[ "$response" =~ ^[Yy]$|^$ ]]; then
    return 0
  else
    return 1
  fi
}

if _install_confirm "Install VSCode themes for matugen? [Y/n] " -eq 0; then
  codium --install-extension "$pkg_dir/matugen-vscode-1.1.0.vsix" && echo -e "===>  Theme installed successfully..."
fi
