{
	"$schema": "/etc/xdg/swaync/configSchema.json",
	"positionX": "right",
	"positionY": "top",
	"control-center-width": 390,
	"control-center-height": 600,
	"control-center-margin-right": 8,
	"control-center-margin-top": 8,
	"control-center-margin-bottom": 8,
	"control-center-layer": "overlay",
	"fit-to-screen": true,
	"notification-window-width": 400,
	"notification-window-height": 400,
	"notification-2fa-action": false,
	"layer": "overlay",
	"timeout": 10,
	"timeout-low": 5,
	"timeout-critical": 0,
	"notification-body-image-height": 200,
	"notification-body-image-width": 200,
	"cssPriority": "user",
	"widgets": ["title", "dnd", "notifications", "mpris", "volume", "backlight", "buttons-grid"],
	"widget-config": {
		"volume": {
			"label": "󰕾",
			"show-per-app": true,
			"expand-button-label": "󰅀",
			"collapse-button-label": "󰅃"
		},
		"backlight": {
			"label": "󰖙",
			"device": {{ output "brightnessctl" "i" "-m" | trim | splitList "," | first | quote }}
		},
		"mpris": {
			"autohide": true,
			"blacklist": ["playerctld"]
		},
		"buttons-grid": {
			"buttons-per-row": 6,
			"actions": [
				{
					"label": "󰈋",
					"command": "swaync-client -cp; niri msg action spawn -- colorpick.sh"
				},
				{
					"label": "󰄀",
					"command": "swaync-client -cp; niri msg action screenshot"
				},
				{
					"label": "",
					"command": "niri msg action spawn -- themechange.sh"
				},
				{
					"label": "",
					"type": "toggle",
					"command": "nightlight.sh",
					"update-command": "pgrep -x wlsunset && echo 'true' || echo 'false'"
				},
				{
					"label": "󰯜",
					"type": "toggle",
					"command": "swaync-client -cp; screen-record.sh",
					"update-command": "pidof gpu-screen-recorder && echo 'true' || echo 'false'"
				},
				{
					"label": "󰛊",
					"type": "toggle",
					"command": "niri msg action spawn -- idle-inhibit.sh",
					"update-command": "pidof systemd-inhibit && echo 'true' || echo 'false'"
				}
			]
		}
	}
}
