animations {
  workspace-switch {
    spring damping-ratio=1.0 stiffness=300 epsilon=0.0001
    // duration-ms 500
    // curve "cubic-bezier" 0.05 0.9 0.1 1.0
  }
  window-open {
    duration-ms 500
    curve "ease-out-expo"
  }
  window-close {
    duration-ms 500
    curve "ease-out-cubic"
  }
  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=300 epsilon=0.0001
    // duration-ms 600
    // curve "ease-out-expo"
  }
  window-movement {
    spring damping-ratio=1.0 stiffness=300 epsilon=0.0001
    // duration-ms 600
    // curve "ease-out-expo"
  }
  window-resize {
    spring damping-ratio=1.0 stiffness=300 epsilon=0.0001
    // duration-ms 600
    // curve "ease-out-expo"
  }
  overview-open-close {
    spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
  }
  recent-windows-close {
    off
  }
}

include "custom-shaders/close/slide-to-top.kdl"
include "custom-shaders/open/slide-from-top.kdl"
