layout {
  border {
    active-color "#784f82"
    urgent-color "#ba1a1a"
    inactive-color "#cfc3cd"
  }

  insert-hint {
    gradient from="#784f8280" to="#6a596c80"
  }

  tab-indicator {
    inactive-color "#fbd7ff"
  }

  shadow {
    color "rgba(0, 0, 0, 0.7)"
  }

  background-color "#e7b6f0"
}

overview {
  backdrop-color "#fff7fb"
}

recent-windows {
  highlight {
    active-color "#e7b6f0"
    urgent-color "#ffb4ab"
  }
}
