@import "../n0_dots/style"

.box-wrapper {
  margin-left: 5px;
}

.item-box {
  display: flex;
  align-items: center;     /* dikey */
  justify-content: center; /* yatay */
  font-size: 40px;
  padding: 5px 10px;
}
