button {
  border-radius: 0px;
}

button:hover {
  background-image: none;
  box-shadow: none;
  border-color: transparent;
}

button:hover>image {
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
}

.highlighted-button {
  background-image: none;
  box-shadow: none;
  border-radius: 0px;
}

.highlighted-button>image, .highlighted-button:hover>image {
  -gtk-icon-effect: highlight;
}
