* {
    font-family: "Maple Mono Normal NFPropo";
    font-size: 16px;
}

window#waybar {
    box-shadow: none;
    text-shadow: none;
    background: @surface;
    color: @on-surface;
}

window#waybar.main-bar #privacy,
window#waybar.main-bar .module {
    background: @surface-container-high;
    margin: 0px 8px;
    padding: 4px 0px;
    border-radius: 4px;
    transition: 100ms;
}

window#waybar.main-bar #pill {
    background: @surface-container-high;
    margin: 0px 8px;
    border-radius: 4px;
    transition: 100ms;
}

window#waybar.main-bar #privacy:hover,
window#waybar.main-bar #pill:hover,
window#waybar.main-bar .module:hover {
    box-shadow: 0px 0px 0px 0.5px @primary inset;
    background: @surface-variant;
}

window#waybar.main-bar #language:hover,
window#waybar.main-bar #clock:hover,
window#waybar.main-bar #custom-launcher:hover,
window#waybar.main-bar #pill .module:hover,
window#waybar.main-bar #workspaces:hover {
    box-shadow: inherit;
}

window#waybar.main-bar #workspaces:hover {
    background: @surface-container-high;
}

tooltip {
    background: @surface;
    border: 1px solid @on-primary-fixed-variant;
    border-radius: 4px;
}

tooltip label {
    font-size: 11px;
    color: @on-surface;
}

menu {
    background: @surface;
    color: @on-surface;
    border: 1px solid @on-primary-fixed-variant;
    border-radius: 4px;
}

menuitem {
    color: @on-surface;
    border-radius: 4px;
}

menuitem arrow {
    color: @outline;
}

menuitem label {
    font-size: 12px;
}

menuitem:hover {
    background: @surface-container-high;
}

menuitem:hover arrow {
    color: @primary;
}

window#waybar.main-bar .modules-left {
    margin-top: 10px;
}

window#waybar.main-bar .modules-right {
    margin-bottom: 10px;
}

window#waybar.main-bar #pill .alt {
    font-size: 11px;
}

window#waybar.main-bar .modules-left #pill .alt {
    margin-bottom: 1px;
    margin-top: -2px;
}

window#waybar.main-bar .modules-right #pill .alt {
    margin-top: 1px;
    margin-bottom: -2px;
}

window#waybar.main-bar #custom-launcher {
    font-size: 20px;
    font-family: "tabler-icons";
    font-weight: 600;
    background: transparent;
    color: @primary;
}

window#waybar.main-bar #custom-launcher:hover {
    color: @secondary;
}

.warning {
    color: @yellow;
}

.critical {
    color: @error;
}

window#waybar.main-bar .recording,
window#waybar.main-bar .recording:hover {
    background: @error;
    color: @on-error;
}

.muted,
.paused,
.disabled,
.disconnected,
.off {
    color: @outline;
}

window#waybar.main-bar #custom-seperator-vertical {
    font-size: 13px;
    margin: -12px 0px;
    opacity: 0.5;
    background: transparent;
}

#workspaces button {
    text-shadow: none;
    box-shadow: none;
    min-width: 0px;
    min-height: 0px;
    color: transparent;
    background: @secondary;
    border-radius: 4px;
    padding: 4px 0px;
    margin: 6px 8px;
    transition: none;
    opacity: 1;
}

#workspaces button label {
    font-weight: 500;
    font-size: 0px;
}

#workspaces button.empty {
    background: transparent;
    border: 1.8px solid @secondary;
}

#workspaces button.active {
    padding: 12px 0px;
    margin: 6px 7px;
    border: none;
    background: @primary;
    color: @on-primary;
    opacity: 1;
}

#workspaces button.active label {
    font-size: 11px;
}

#workspaces button:hover {
    background: @primary;
    border-color: @primary;
}

#workspaces button.active:hover {
    background: @secondary;
}

window#waybar.main-bar #clock {
    background: transparent;
    font-size: 16px;
    padding: 0px;
    font-weight: 300;
}

window#waybar.main-bar #clock.alt {
    color: @primary;
}

window#waybar.main-bar #privacy,
window#waybar.main-bar #tray {
    padding-top: 6px;
    padding-bottom: 6px;
}

window#waybar.main-bar #custom-swaync.cc-open {
    background: @primary;
    color: @on-primary;
}

window#waybar.main-bar #language {
    color: @secondary;
    font-size: 15px;
    font-weight: 600;
    background: transparent;
}

window#waybar.main-bar #language:hover {
    font-weight: 800;
}

/* Adjust margin & padding for modules in pills */
window#waybar.main-bar #pill .module {
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

window#waybar.outline-left,
window#waybar.outline-right,
window#waybar.outline-top,
window#waybar.outline-bottom {
    background-color: @on-primary-fixed-variant;
}

window#waybar.time-widget,
window#waybar.date-widget {
    background: transparent;
}

window#waybar.time-widget .module,
window#waybar.date-widget .module {
    background: transparent;
    color: @primary-fixed-dim;
}

window#waybar #clock.widget-time {
    font-size: 52px;
    font-weight: 600;
    padding: 25px 0px;
    margin: 0px 20px;
    text-shadow:
        -1px 0px @on-primary-fixed-variant,
        2px 0px @on-primary-fixed-variant,
        0px -1px @on-primary-fixed-variant,
        0px 2px @on-primary-fixed-variant,
        3px 3px @on-primary-fixed-variant;
}

window#waybar #clock.widget-date {
    font-size: 20px;
    font-weight: 400;
    padding: 8px 0px;
    margin: 0px 20px;
    text-shadow:
        -1px 0px @on-primary-fixed-variant,
        1px 0px @on-primary-fixed-variant,
        0px -1px @on-primary-fixed-variant,
        0px 2px @on-primary-fixed-variant,
        2px 2px @on-primary-fixed-variant;
}

window#waybar #mpris.widget {
    font-size: 20px;
    font-weight: 300;
    margin: 0px 20px;
    text-shadow:
        -1px 0px @on-primary-fixed-variant,
        1px 0px @on-primary-fixed-variant,
        0px -1px @on-primary-fixed-variant,
        0px 2px @on-primary-fixed-variant,
        1.5px 1.5px @on-primary-fixed-variant;
}
