{
	"wallpaper": "{{ .chezmoi.homeDir -}}/Pictures/Wallpaper/default-bg.png",
	"alpha": "100",
	"colors": {
		"color0": "#fff7fb",
		"color1": "#fbd7ff",
		"color2": "",
		"color3": "",
		"color4": "",
		"color5": "",
		"color6": "",
		"color7": "",
		"color8": "",
		"color9": "",
		"color10": "#784f82",
		"color11": "",
		"color12": "",
		"color13": "#fff7fb",
		"color14": "",
		"color15": "#1f1a1f"
	}
}
